<section class="pt-4 pb-3" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">دسترسی سریع</div>
                <ul>
                    <li><a href="./blog.html">بلاگ آموزشی</a></li>
                    <li><a href="./faq.html">راهنمای خرید</a></li>
                    <li><a href="./faq.html">شیوه های پرداخت</a></li>
                    <li><a href="./contact.html">پیگیری سفارش</a></li>
                    <li><a href="./faq.html">سوالات متداول</a></li>
                    <li><a href="./about.html">درباره ما</a></li>
                    <li><a href="./contact.html">تماس با ما</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">گروه های محصولات</div>
                <ul>
                    <li><a href="./products.html">تجهیزات کامپیوتر</a></li>
                    <li><a href="./products.html">گوشی موبایل</a></li>
                    <li><a href="./products.html">جانبی موبایل</a></li>
                    <li><a href="./products.html">ساعت هوشمند</a></li>
                    <li><a href="./products.html">جانبی کامپیوتر</a></li>
                    <li><a href="./products.html">دوربین</a></li>
                    <li><a href="./products.html">لپ تاپ</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 d-none d-sm-inline-block">
                <div class="title">ناحیه کاربری</div>
                <ul>
                    <li><a href="./login.html">ورود به سایت</a></li>
                    <li><a href="./register.html">عضویت در سایت</a></li>
                    <li><a href="./reset-password.html">بازیابی رمز عبور</a></li>
                    <li><a href="./cart.html">سبد خرید</a></li>
                    <li><a href="./checkout.html">پیش فاکتور</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <hr class="d-lg-none">
                <img src="{{ media_url }}images/logo_page.png" alt=""> روبیک مارکت
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                <div class="row">
                    <div class="col-12 col-md-6 text-center p-2" id="encode43vfbb65gtabfb">
                        <div>7 روز هفته، 24 ساعت شبانه روز</div>
                        <div>پاسخگوی شما هستیم</div>
                        <div>09351234567</div>
                    </div>
                    <div class="col-12 col-md-6 pt-2 pt-md-0" id="encode43vfbbbfb">
                        <div class="row">
                            <div class="col-4 text-center">
                                <a href="#"><img src="assets/images/encode43vfbbbfb/enamad.png" alt=""></a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#"><img src="assets/images/encode43vfbbbfb/samandehi.png" alt=""></a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#"><img src="assets/images/encode43vfbbbfb/etehadiye.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Footer -->

<!-- Copyright -->
